@model ManagemAntsClient.Models.DashboardPage
<div id="addCollaboratorModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajout de collaborateurs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control mb-3" id="ResearchProject" placeholder="Recherche par nom/pseudo">
            </div>
            <div class="modal-footer">
                <div class="m-auto">
                    <button type="button" class="btn btn-success close">Valider</button>
                </div>
            </div>
        </div>
    </div>
</div>