@{
    ViewData["Title"] = "Home Page";
}
@model ManagemAntsClient.Models.Projects

<div class="text-center">
    <h1 class="display-4">Projects</h1>
    @foreach (var project in Model.projects)
    { 
        <p>@project.name</p>
    }
</div>
