
<div id="taskAddModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une tache</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("PostTask", "Project", FormMethod.Post))
                {
                    <div id="TaskModifyName" class="row mb-3">
                        <div class="col-4 font-weight-bold">Nom de la tache :</div>
                        <input type="text" name="name" class="col-8" />
                    </div>
                    <div id="TaskModifyDescritpion" class="mb-3">
                        <div class="mb-2 font-weight-bold">Description de la tache :</div>
                        <input type="text" name="desc" class="form-control" />
                    </div>
                    <div id="TaskModifyTime" class="row mb-3">
                        <div class="col-4 font-weight-bold">Durée (heures) :</div>
                        <input type="number" name="duration" class="form-control" />
                    </div>
                    <div id="TaskModifyState" class="row mb-3">
                        <div class="col-4 font-weight-bold">Etat de la tache :</div>
                        <input type="number" name="state" class="form-control" />
                    </div>
                    <div id="TaskModifyCollaborators" class="mb-3">
                        <div class="font-weight-bold mb-2">Collaborators :</div>
                        Collabs
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                }
            </div>
            <div class="modal-footer">
                <div class="m-auto">
                    
                </div>
            </div>
        </div>
    </div>
</div>
