@{
    Layout = "~/Views/Shared/_Navbar.cshtml";
}
@model ManagemAntsClient.Models.Projects

    <div>
        <nav class="navbar navbar bg-primary">
            <a class="navbar-brand">Home</a>
        </nav>
    </div>